<div class="container 123broodje-page">
  <div class="project__page">
    <div class="main-content project ">

      <div class="project__header project__header--slideIn">
        <div class="project__header__title">
          <h1>123broodje.nl</h1>

          <h2>De beste broodjes bestel site</h2>
        </div>
      </div>

      <section class="project__row">

        <article class="content__item">
          <div class="content__item__text">
              <h3>
                Het concept
              </h3>

              <p>Maecenas tincidunt sem quis elit auctor, in congue enim scelerisque. Sed sit amet nibh in ex mattis finibus
                id vitae turpis. Integer metus nulla, malesuada eget odio quis, vulputate condimentum ligula. Donec ut lacus
                vulputate, euismod leo a, ultrices ex. In vitae metus eleifend, bibendum dolor sit amet, consequat nibh.</p>
          </div>
          <figure class="content__item__image">
            <%= image_tag '123broodje.png' %>
          </figure>

        </article>

      </section>

      <section class="project__row">

        <article class="content__item content__item--two-column">
          <div class="content__item__text">
            <h3>
              Het concept
            </h3>

            <p>Maecenas tincidunt sem quis elit auctor, in congue enim scelerisque. Sed sit amet nibh in ex mattis finibus
              id vitae turpis. Integer metus nulla, malesuada eget odio quis, vulputate condimentum ligula. Donec ut lacus
              vulputate, euismod leo a, ultrices ex. In vitae metus eleifend, bibendum dolor sit amet, consequat nibh.</p>
          </div>
          <div class="content__item__text">
            <h3>
              Het concept
            </h3>

            <p>Maecenas tincidunt sem quis elit auctor, in congue enim scelerisque. Sed sit amet nibh in ex mattis finibus
              id vitae turpis. Integer metus nulla, malesuada eget odio quis, vulputate condimentum ligula. Donec ut lacus
              vulputate, euismod leo a, ultrices ex. In vitae metus eleifend, bibendum dolor sit amet, consequat nibh.</p>
          </div>

        </article>

      </section>



    </div>
  </div>
</div>