<div class="container default-page cv-page">

  <!--<header class="header">-->
    <!--<a class="go-back" data-type="page-transition" href="index">Go Back</a>-->
  <!--</header>-->

  <main class="main-content main-cv">

    <div class="my-cv-holder">

      <h3>CV Mark Verheij</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam ornare arcu sed dui faucibus interdum a et nibh.
        Morbi rutrum odio ac ipsum volutpat, vitae malesuada porttitor.</p>

      <%= default_button 'Download CV','cd.pdf','default__button--blue' %>

      <div class="timeline">

        <div class="timeline__line"></div>

        <div class="timeline__row">

          <div class="timeline__column--left">

            <div class="timeline__period" id="1">
              2006 - 2008
            </div>

          </div>


          <div class="timeline__dot"><div class="dot"></div></div>

          <div class="timeline__column--right">
            <h4>Opleiding</h4>
            <div class="timeline__detail" id="2">
              Libanon Lyceum Rotterdam<br>
              <span class="timeline__detail--blue">VMBO TL</span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </main>

</div>