<div class="container default-page index-page index-page--slideIn">

  <header class="header">
    <div class="header__title">
      <h1>Mark Verheij</h1>

      <h2>Entrepeneur, designer and developer</h2>
    </div>
  </header>

  <main class="main-content">
    <div class="cv-holder">
      <div class="cv">
        <h3>Bekijk CV</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aliquam ornare arcu sed dui faucibus interdum a et nibh.
          Morbi rutrum odio ac ipsum volutpat, vitae malesuada porttitor.</p>

        <a class="default__button default__button--blue" onmouseover="buttonHoverPosition(event,this,'default__button__hover')" data-type="page-transition" href="cv">
          Bekijk CV
          <span class="default__button__hover"></span>
          <span class="default__button__text">Bekijk CV</span>
        </a>

      </div>
    </div>
    <div class="projects-holder">
      <div class="project">
        <h3>Projects</h3>
        <div class="projects">
          <div class="projects__item" onmouseover="buttonHoverPosition(event,this, 'projects__item__hover')">
            WebinarGeek
            <span class="projects__item__hover"></span>
            <span class="projects__item__text">WebinarGeek</span>
          </div>

          <div class="projects__item" onmouseover="buttonHoverPosition(event,this, 'projects__item__hover')" data-type="page-transition" href="123broodje">
            123broodje.nl
            <span class="projects__item__hover"></span>
            <span class="projects__item__text">123broodje.nl</span>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>



  </script>

</div>